<phpunit bootstrap="./Bootstrap.php" colors="true" convertErrorsToExceptions="true">
    <testsuites>
        <testsuite name="Bayeux">
            <directory suffix=".php">./Bayeux/.</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../lib/Bayeux/</directory>
        </whitelist>
    </filter>
</phpunit>